
body{
    background-image: url("bilder/draftSvarbarn.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
  }
a{
  text-decoration: none;
  color: white;
  display : block;
  width:200px;
  height:80px;
  background-color: #555555;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  margin: 10px 15%;

}
button{ position: fixed;
  right: 400px;
  bottom: 240px;
  background-color: green;
}
  #header {
    border:solid thin gray;
    background-color: lightskyblue;
    text-align:center;
    font-size:x-large;
    font-weight:bold;
    margin-left:20%;
    margin-top:10%;
    width: 60%;
    height: 50px;
    opacity: 90%;
    }
    
    #left-col {
    border:solid thin gray;
    background-color: lightskyblue;
    margin-left:20%;
    margin-top:10px;
    width: 15%;
    height: 600px;
    float: left;
    opacity: 90%;

    }
        
    #centre-col {
    border:solid thin gray;
    background-color: lightskyblue;
    margin-top:10px;
    width: 45%;
    height: 600px;
    float: left;
    }

    .senterSplit{
      width: 48%;
      height: 500px;
      opacity: 90%;
      float: left;
    }
    
    #footer {
    border-top:dashed thin gray;
    margin:5px;
    font-style:italic;
    width: 60%;
    position: absolute;
  left: 380px;
bottom: 50px;   }
    
    #clear {
    clear:both;
    }
    
  #nettvettregler{
    border: black 1px solid;
    margin: 5px 10px;
  }

  .thumbnail:hover {
    transform: scale(2.5);
}
  
  